* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
}

/*+++++++++++++++++Menu principal++++++++++++++++++++++++++*/
.MenuPrincipal {
    color: black;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-family: sans-serif;
   
}
.logo {
    height: 85px;
    transition: 0.3s ease  ;
}
.logo:hover{
    transform: scale(1.1);
}
.opciones{
 
    padding: 7px 14px;
    border-radius: 6px;
}
.opciones ul {
    
    display: flex;
    gap: 45px;
    list-style: none;
}

.opciones ul li a {

    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 7px 14px;
    border-radius: 6px;
    transition: background-color 0.9s, color 0.3s;
    cursor: pointer;
}

.opciones ul li a:hover {
    color: black;
    background-color: white;
}
/*+++++++++++++++++Menu principal++++++++++++++++++++++++++*/

/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/
.banner {
    width: 95%;
    height: 400px;
    margin: 0 auto;  /* Esto centra horizontalmente */
}

.banner-img {
     
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: block; /* Evita que quede como inline */
  
    
}
/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/

/*+++++++++++++++++titulo++++++++++++++++++++++++++*/
.titulo {
    display: inline-block;
    color:white;
    margin: 40px 20px 15px;
    text-align: left;
    padding: 6px 18px;

    border-radius: 6px;
    font-family: sans-serif;
    transition:0.9s ease;
    
}
.titulo:hover {
    color:black;
    background-color:whitesmoke;
}
/*+++++++++++++++++titulo++++++++++++++++++++++++++*/

/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/
.listado {
    display: flex;
    gap: 20px;
    padding: 10px 20px 30px;
    overflow-x: auto;
}

.listado img {
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.listado img:hover {
    transform: scale(1.1);
}
/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/

/*+++++++++++++++++Pie de pagina++++++++++++++++++++++++++*/
.pie-de-pagina {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    line-height: 1.6;
    margin: 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.redes {
   height: 40px;width: 40px;border: 2px solid white;margin: 40px;
}

