/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/
.banner {
  width: 100%;
  height: 420px;
}

.banner-img {
  width: 100%;
  height: 100%;
}
/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/

/*+++++++++++++++++titulo++++++++++++++++++++++++++*/
.titulo {
  color: white;
  margin: 40px 20px 15px;
  text-align: center;
  padding: 6px 18px;
  background-color: red;
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: color 0.3s;
  cursor: pointer;
}
.titulo:hover {
  color: black;
}
/*+++++++++++++++++titulo++++++++++++++++++++++++++*/

/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/
.listado {
  display: flex;
  gap: 20px;
  padding: 10px 20px 30px;
  overflow-x: auto;
}

.listado img {
  height: 230px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.listado img:hover {
  transform: scale(1.1);
}
/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/
