* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
}

/*+++++++++++++++++Menu principal++++++++++++++++++++++++++*/
.MenuPrincipal {
    color: black;
    position: sticky;/*para que se quede la bbarra pegada arriba*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
   
}
.logo {
    height: 85px;
    transition: 0.3s ease  ;
}
.logo:hover{
    transform: scale(1.1);
}
.opciones{
    background-color: #E38978;
    padding: 7px 14px;
    border-radius: 6px;
}
.opciones ul {
    
    display: flex;
    gap: 45px;
    list-style: none;
}

.opciones ul li a {
    background-color: #E38978;
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 7px 14px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.opciones ul li a:hover {
    color: white;
    background-color: #EBAB9E;
}
/*+++++++++++++++++Menu principal++++++++++++++++++++++++++*/

/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/
.banner {
    width: 100%;
    height: 420px;
}

.banner-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
/*+++++++++++++++++Carrusel++++++++++++++++++++++++++*/

/*+++++++++++++++++titulo++++++++++++++++++++++++++*/
.titulo {
    color:black;
    margin: 40px 20px 15px;
    text-align: center;
    padding: 6px 18px;
    background-color: #E38978;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition:0.3s ease;
    cursor: pointer;
}
.titulo:hover {
    color: white;
    background-color: #EBAB9E;
}
/*+++++++++++++++++titulo++++++++++++++++++++++++++*/

/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/
.listado {
    display: flex;
    gap: 20px;
    padding: 10px 20px 30px;
    overflow-x: auto;
}

.listado img {
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.listado img:hover {
    transform: scale(1.1);
}
/*+++++++++++++++++++Listado++++++++++++++++++++++++++*/

/*+++++++++++++++++++borrado de imagenes++++++++++++++++++++++++++*/

.contenedor-card {
    position: relative;
    display: inline-block;
    margin: 35px;
}

.img1 {
    position: relative;
    z-index: 2; 
    border-radius: 20px;
    transition: 0.5s;
}

.texto-atras {
    color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Texto abajo */
    text-align: center;
    width: 80%;
}
/*+++++++++++++++++++borrado de imagenes++++++++++++++++++++++++++*/

/*+++++++++++++++++Pie de pagina++++++++++++++++++++++++++*/
.pie-de-pagina {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    line-height: 1.6;
    margin: 30px 20px;
}
.redes {
    cursor: pointer;
   height: 40px;width: 40px;border: 2px solid white;margin: 40px;
}
    