body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}
/*------------------------------titulo---------------------------------------*/
.Hora{
    padding: 15px;
    font-size: 25px;
    padding: 55px;
}
h1{
 padding: 82px;
 transition: all 0.3s ease;
}
h1:hover{
    color: red;
}
p{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
/*------------------------------USUARIO---------------------------------------*/
.contenedor-usuario{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0px;
}
.usuario{
    width: 70%;
    height: 70%;
    cursor: pointer;
     transition: all 0.3s ease;
     border-radius: 15px;
}
.usuario:hover{
    transform: scale(1.1);
}
/*------------------------------boton---------------------------------------*/
button{
    background:red;
    color: white;
    padding: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}
button:hover{
    background-color: aliceblue;
    color: black;
}
